@font-face {
	font-family: 'Brandon Bold';
	src: url('../fonts/Brandon Grotesque Bold.woff2') format("woff2");
}
@font-face {
	font-family: 'Brandon';
	src: url('../fonts/Brandon Grotesque Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'Brandon Regular';
	src: url('../fonts/Brandon Grotesque Regular.woff2') format('woff2');
}



* {
	box-sizing: border-box;
}

html {
	margin: 0 auto;
}
body {
	font-family: 'Brandon';
	-webkit-font-smoothing: anti-aliased;
}

h1,h2 {
	font-family: 'Brandon Bold';
	text-transform: uppercase;

	
}

h3,h4,h5 {
	font-family: 'Brandon Bold';
	color: #020202;
}

p {
	font-family: 'Brandon';
	font-size: 22px;
		margin-bottom: 1rem;

}
a {
	text-decoration: none;
	color: #f3f3f3;
}
button {
	border : none;
	padding: 10px 30px;
	font-family: 'Brandon';
	&:hover {
		opacity: 0.9;
	}
	a {
		font-size: 22px;
		}
}
section {
	padding: 100px 0;
}
label {
	display: block;
	font-family: 'Brandon Bold'
}
input, textarea, input[type=radio] {
	font-family: 'Brandon'
}
.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.gallery {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero {
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: 1;

}
.overlay {
	position: relative;
	background-color: rgba(0,0,0,0.3);
	height: 100%;
	z-index: 2;
	display: flex;
	justify-content:center;
	align-items: center;
	
}


// Hero for each pages!!

#home-hero {
	background: url('../image/how-hero.jpg') no-repeat center;
	height: 600px;
	background-size: cover;
	.hero-cta {
		padding: 0 20px;

	}
}
#how-hero {
	background: url('../image/how-hero2.jpg') no-repeat right center;
	height: 600px;
	background-size: cover;

}
#apply-now-hero {
	background: url('../image/apply-hero.jpg') no-repeat center;
	height: 600px;
}
#contact-us-hero {
	background: url('../image/contact-us2.jpg') no-repeat center ;
	background-size: cover;
	height: 500px;
}
#about-us-hero {
	background: url('../image/team.jpg') no-repeat top right ;
	background-size: cover;
	height: 500px;
	p {
			color: white;
		}
}

// Sections

// HOME//
#what {
	p {
		font-family: 'Brandon Regular'
	}
}
#community {
	p {
		font-family: 'Brandon Regular'
	}
}
#call-to-arms {
	background: url('../image/uncle-sam.jpg') no-repeat left center;
	z-index: 1;
	padding: 0;

	#call-to-arms-overlay {
		padding: 60px 0;
		height: 100%;
		background-color: rgba(0,100,0,0.7);
		z-index: 2;
	}
	h1,p {
		color: #ecf0f1;
		// text-shadow: 0.5px 0.5px gray;
	}
	p {
		margin-bottom: 10px;
		font-family: 'Brandon Regular'
	}
}

#whats-included {
	background-color: #f4f4f4;
	.gallery {
		align-items: flex-start;
	}
	img {
		width: 400px;
		margin-bottom: 1rem;

	}
	p {
		text-align: center;
		font-size: 20px;
		margin-bottom: 1rem;
	}
}

#cost {
	background-color:#2c3e50;
	padding: 50px 20px;
	border-radius: 8px;
	h1,h2,p {
		color: #f4f4f4;
	}
	
}

#average {
	background: url('../image/average.jpg') no-repeat left center;
	z-index: 1;
	padding: 0;
	color: #f4f4f4;
	#average-overlay {
		padding: 100px 0;
		height: 100%;
		background-color: rgba(192, 57, 43,0.75);
		z-index: 2;

	}
}

#faq {
	h3 {
		margin-bottom: 5px;
		padding: 0 20px;
	}
	p {
		margin-bottom: 40px;
		padding: 0 20px;
		font-family: 'Brandon Regular'
	}
}

#remote-work {
	background: url('../image/remotework.jpg') no-repeat right bottom fixed;
	z-index: 1;
	padding: 0;

	#remote-work-overlay {
		padding: 100px 0;
		height: 100%;
		background-color: rgba(0,0,0,0.4);
		z-index: 2;
	}
	h2,p {
		color: #f3f3f3;
	}
	p {
		font-family: 'Brandon Regular'
	}
}
.wewantyou {
		padding: 100px;
	}
#services {
	p {
		text-align: center;
	}
	img {
		width: 120px;
		margin-bottom: 10px;

		}
}


#philosophy {
	img {
		width: 300px;
	}
	p {
		font-family: 'Brandon Regular'
	}
}

// Itinerary//

#destinations {
	img {
		width: 350px;
		margin: 0;
	}
}

#good-day {
	p {
		margin-bottom: 5px;
		font-size: 18px;
		padding: 0;

	}
}
#relax {
	background: url('../image/2months.jpg') no-repeat center left fixed;
	background-size: cover;
	padding: 0;
	z-index: 1;
	h3,p {
		color: #f2f2f2;
	}
	p {
		font-family: 'Brandon Regular'
	}
	#relax-overlay {
		padding: 150px 0;
		height: 100%;
		background-color: rgba(0,0,0,0.3);
		z-index: 2;
	}
}

#activities {
	img {
		width: 400px;
	}
	p,h3,h2 {
		color: #fff;
	}
	p,h3 {
		margin-bottom: 30px;
	}
	h1 {
		margin-bottom: 50px;
	}
}
#activities2 {
	img {
		width: 400px;
	}
}

#adventure {
	background: url('../image/adventure.jpg') no-repeat center;
	background-size: cover;
	z-index: 1;
	padding: 0;

	#adventure-overlay {
		padding: 60px 0;
		height: 100%;
		background-color: rgba(0,0,0,0.3);
		z-index: 2;
	}
	h2,p {
		color: #f2f2f2;
	}
}
#adventure-description {
	padding: 100px 0 ;
}

// Apply Now

#proccess {
	img {
		width: 60px;
	}
	h1 {
		margin-bottom: 50px;
	}
}

#application-form {
	outline:none;
	padding: 100px 20px;
	label {
		font-size: 24px;
		margin: 20px auto;	
	}
	input {
		border: none;
		background-color: #ecf0f1;
		border-bottom: 2px solid black;
		width: 100%;
		padding: 0 10px;
		margin-bottom: 15px;
		font-family: 'Brandon';
		font-size: 22px;
		&:focus {
			outline: none;
		}
	}
	input[type=radio] {
		width: 5%;
	}
	select {
		font-family: 'Brandon';
		padding: 10px 20px;
		border: none;
		&:focus {
			outline: none;
		}
	}
	textarea {
		outline:none;
		width: 100%;
		height: 300px;
		border: 2px solid black;
		margin-top: 5px;
		padding: 10px;
	}
	.gender, .income {
		display: inline-block;
		margin-right: 30px;
		margin-top:20px; 
	}
	button {
		font-family: 'Brandon';
		background-color: #e67e22;
		text-align: center;
		margin-top: 50px;
		padding: 20px 0;

		a {
			font-size: 30px;
		}
	}
}





// Meet the Team//

#about-us {
	background-color: #ecf0f1;
}
#the-team {
	padding: 20px;
	p {
		font-size: 20px;
	}
	img {
		width: 200px;
		margin: 0 auto;
		border-radius: 50%;
	}
	h3 {
		margin-bottom: 0;
	}
	.profile {
		background-color: #3498db;
	}
	.aka {
		font-size: 16px;
		font-style: italic;
		margin-bottom: 0;
	}
	.job-title {
		text-transform: uppercase;
		font-size: 16px;
	}
	.member-profile {
		background-color: #ecf0f1;
		padding:20px 10px;
		margin-bottom: 50px;
	}
}



// Contact Us//
#contact-person {
	background-color:#f2f2f2;
	h3 {
		margin-bottom: 5px;
	}
	p {
		font-size: 18px;
		color: #34495e;
	}
}

#contact-us {
	background-color:#ecf0f1;

	input {
		border:none;
		width: 100%;
		padding: 10px;
		margin-bottom: 15px;
		&:focus {
			outline: none;
		}
	}
	textarea {
			border:none;
		width: 100%;
		height: 300px;
		padding: 10px;
		&:focus {
			outline: none;
		}
	}
	button {
		background-color:#e67e22;
	}
}


